# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/
.cvs/
cvs/

# Ignore files created by MacOS
.DS_Store

# Private source documents used for portfolio updates
gsk_Final_report_232259.pdf
gsk_Performance_review_232259.pdf
